@font-face {
    font-family: "Righteous";
    src: url("../../../../public/fonts/Righteous-Regular.ttf");
}
.signup-form{
    height: 100vh;
    .container-register{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .register{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background-color: rgba($color: #FBF3E4, $alpha: 0.5);
            width: 85vw;
            height: 100%;
    
            form{
                height: 65vh;
                width: 50vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding-bottom: 3rem;
                h2{
                    font-size: 2rem;
                    text-shadow: 1px 1px #066330, -1px -1px #066330, 1px -1px #066330, -1px 1px #066330;
                    font-family: "Righteous";
                    color: #FAAF18;
                }
                .form-register{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    height: 40vh;
                    width: 40vw;
    
                    // .role{
                    //     display: flex;
                    //     justify-content: space-around;
                    //     align-items: center;
                    //     flex-direction: column;
                    //     width: 20vw;
                    //     height: 5vh;
                    //     label{
                    //         text-align: center;
                    //     }
                    // }
                    .signup-label{
                        width: 60vw;
                        height: 20vh;
                        display: flex;
                        justify-content: space-around;
                        .label{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 10vw;
                            color: white;
                            text-shadow: 1px 1px #066330, -1px -1px #066330, 1px -1px #066330, -1px 1px #066330;
                        }
                    }
                    input{
                        width: 18vw;
                        border: 1px solid #FAAF18;
                        border-radius: 5px;
                        font-family: "Righteous";
                        font-size: 1rem;
                        color: #066330;
                    }
                    input:active{
                        border: 1px solid #066330;
                    }
                    option{
                        width: 18vw;
                        border: 1px solid #FAAF18;
                        border-radius: 5px;
                        font-family: "Righteous";
                        font-size: 1rem;
                        color: #066330;
                    }
                    
                }
                button{
                    width: 10vw;
                    box-shadow: 1px 1px #066330;
                    border-radius: 5px;
                    font-family: "Righteous";
                    background-color: #FAAF18;
                    color: white;
                    cursor: pointer;
                    &:hover{
                        background-color: #066330;
                        box-shadow: 1px 1px #FAAF18;
                    }
                }
            }
        }
    }
}