@font-face {
    font-family: "Righteous";
    src: url("../../../../public/fonts/Righteous-Regular.ttf");
}

.component-profil{
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        section{
            background-color: rgba($color: #FAAF18, $alpha: 0.5);
            border: 5px solid white;
            border-radius: 30px;
            width: 85vw;
            height: 65vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            .container-profil{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50vw;
                height: 55vh;
                border: 5px solid white;
                border-radius: 20px;
                background-color: rgba($color: #FBF3E4, $alpha: 0.8);
                
                .profil{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 40vw;
                    height: 50vh;
                    line-height: 5px;
                    img{
                        width: 18vw;
                        height: 36vh;
                        border-radius: 5px;
                        border: 2px solid #066330;}
                    }
                    .description{
                        display: flex;
                        flex-direction: column;                  
                        width: 30vw;
                        h2{
                            color: #066330;
                            text-transform: uppercase;
                            font-family: "Righteous";
                        }
                }
            }
            aside{
                width: 20vw;
                height: 50vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                h3{
                    color: #066330;
                    font-family: "Righteous";
                }
                
                .btn-taster{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 15vw;
                    height: 8vh;
                    border-radius: 10px;
                    border: 2px solid white;
                    background-color: #F2B705;
                    color: white;
                    text-decoration: none;
                    font-size: 1em;
                    font-weight: bold;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover{
                        background-color: #F2B705;
                        color: #FBF3E4;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }    
}