@font-face {
    font-family: "Insanibu";
    src: url("../../../../public/fonts/Insanibu.ttf");
}

header{
    height: 30vh;
    width: 100%;
    @media (max-width: 800px){
        height: 45vh;
        width: 100%;
    }
    nav{
        .top-header{
            height: 30vh;
            display: flex;
            align-items: space-between;
            @media(max-width: 800px){
                flex-direction: column;// mettre les elements aux centres de la page
                align-items: center;
            }
            
            .div-logo{
                display: flex;
                width: 30vw;
                .header-logo{
                    height: 27vh;
                    display: flex;
                    @media(max-width: 800px){
                        height: 27vh;
                        margin-top: 10px;
                    }
                }
            }
            .container-slogan-menu{
                width: 60vw;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-end;
                @media(max-width: 800px){
                    width: 70%;
                    flex-direction: column-reverse;
                    align-items: center;
                }
        
                .slogan{
                    max-width: 60vw;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    word-spacing: 3px;
                    white-space: wrap;
        
                    h1{
                        font-family: "Insanibu";
                        color: #066330;
                        font-size: 1.1rem;
                        text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white;
                        font-weight: bold;
                        letter-spacing: 2px;
                        text-align: center;
                    }
                    @media(max-width: 800px){
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        h1{
                            font-size: 0.9rem;
                            text-align: center;
                        }
                    }
                }
                .nav-css{
                    display: flex;
                    justify-content: flex-end;
                    .btn-responsive{
                        .top-header-menu{
                            background-color: transparent;
                            width: 65vw;
                            display: flex;
                            justify-content: flex-end;
        
                            
                            a{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: white;
                                margin-left: 10px;
                                font-family: "Insanibu";
                                font-size: 1.3rem;
                                text-shadow: 1px 1px #066330, -1px -1px #066330, 1px -1px #066330, -1px 1px #066330;
        
                                @media (max-width: 800px){
                                    font-size: 1rem;
                                }
                            }
                            .btn-warning{
                                background-color: rgba($color: #FAAF18, $alpha: 0.5);
                                width:14vw;
                                height: 14vh;
                                border-radius: 6px;
                                border: 2px solid white;
        
                                @media (max-width: 576px){
                                    width: 40vw;
                                    height: 8vh;
                                }
                                
                            }
                            .btn-warning:hover{
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                height: 14vh;
                                color: white;
                                transition: opacity 500ms ease-in-out 0s;
                            }
                            .accueil:hover{
                                background-image: url("../../../../public/images/giphy-home.gif");
                            }
                            .restaurant:hover{
                                background-image: url("../../../../public/images/giphy-restaurant.gif");
                            }
                            .burger:hover{
                                background-image: url("../../../../public/images/giphy-burger.gif");
                            }
                            .goodie:hover{
                                background-image: url("../../../../public/images/giphy-goodies.gif");
                            }
                        }
                        @media (max-width: 800px){
                            justify-content: center;
                        }
                    }
                    .custom{
                        background-color: #FAAF18;
                        border: none;
                        border-radius: 2px;
                    }
                    .custom:hover{
                        background-color: #FAAF18;
                        border: none;
                        border-radius: 2px;
                    }
                }
                // @media screen and (max-width: 992px) {
                    // #top-header{
                    //     flex-direction: column;
                    // }
                    // .top-header-menu {
                    //     flex-direction: column;
                    //     align-items: flex-end;
                    // }
                // }
            }
        }
        @media (max-width: 800px){
            flex-direction: column;
            align-items: center;
        }
    }
}

