@font-face {
    font-family: "Righteous";
    src: url("../../../../public/fonts/Righteous-Regular.ttf");
}

.container-presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    #presentation{
        border: 5px solid white;
        border-radius: 25px;
        height: 55vh;
        width: 85vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #FBF3E4, $alpha: 0.5);
    
        .introduction{
            box-shadow: 1em 1em 20px white, -1em -1em 20px white, -1em 1em 20px white, 1em -1em 20px white;
            background-color: white;
            height: 40vh;
            width: 74vw;
        }
        p{
            color: #066330;
            background-color: transparent;
            font-family: "Righteous";
            font-size: 0.95rem;
        }
    }
}