@font-face {
  font-family: "Righteous";
  src: url("../../../../public/fonts/Righteous-Regular.ttf");
}
.about {
  height: 100vh;
  @media (max-width: 995px) {
    height: auto;
  }
  .container-about{
    height: 64%;
    .about-content {
      padding: 6rem 12rem 0.5rem;
      @media (max-width: 995px) {
        height: auto;
      }
    }
    p{
        color: #066330;
        background-color: transparent;
        font-family: "Righteous";
        font-size: 0.9rem;
        text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white;
        text-align: justify;
    }
  }
}

