@font-face {
    font-family: "Righteous";
    src: url("../../../../public/fonts/Righteous-Regular.ttf");
}

p{
    color: #066330;
    background-color: transparent;
    font-family: "Righteous";
    font-size: 0.9rem
}

.about-content {
  @media (max-width: 995px) {
    height: auto;
  }
}
