@font-face {
    font-family: "Insanibu";
    src: url("../../../../public/fonts/Insanibu.ttf");
}
@font-face {
    font-family: "Righteous";
    src: url("../../../../public/fonts/Righteous-Regular.ttf");
}

  //================================================\\
 //==============LOGIN-SIGNUP-SECTION================\\
//====================================================\\

.container-login-signup{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #main-header{
        width: 85vw;
        border: 5px solid white;
        height: 65vh;
        border-radius: 30px;
        background-image: url(../../../../public/images/burgsurf2.jpg);
        background-size: cover;
        background-position-y: 30%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .container-about{
            width: 20vw;
            height: 45vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: transparent;

            .about{
                color: white;
                background-color: rgba($color: #FAAF18, $alpha: 0.8);
                padding: 0.1rem 0.5rem;
                border-radius: 5px;
                text-shadow: 1px 1px #066330, -1px -1px #066330, 1px -1px #066330, -1px 1px #066330;
                border: 3px solid white;
                text-decoration: none;
            }
        }

        .container-btn-register{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 20vw;
            height: 45vh;
            font-family: "Insanibu";
            color: #EE1D23;
            background-color: transparent;

            .login{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                width: 110px;
                height: 110px;
                border-radius: 50%;    
                border: 3px solid white;
                background-color: rgba($color: #FAAF18, $alpha: 0.8);
                cursor: pointer;
                text-decoration: none;
                color: #ee1d23;
                font-weight: bolder;
                font-size: 1.8rem;
                text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 6px white;
                font-family: "Insanibu";
                line-height: 20px;

                .push{
                    height: 12vh;
                    width: 8vw;
                    text-align: center;
                    p{
                        color: #066330;
                        font-size: 0.8rem;
                        font-weight: bold;
                        font-family: "Righteous";
                    }
                }

            }

            .signup{
                margin-top: 20px;
                background-color: transparent;
                line-height: 1px;
                text-decoration: none;

                #signup{
                    cursor: pointer;
                    color: #ee1d23;
                    font-weight: bolder;
                    font-size: 1.2rem;
                    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 6px white;
                }
            }

            p{
                color: #066330;
                font-size: 0.9rem;
                font-weight: bold;
            }
        }
    }
}