.component-burgers{  
    .container-flexbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 55vh;
        margin-top: 8vh;
        .container-burger{
            border-radius: 30px;
            width: 85vw;
            min-height: 60vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .review-btn{
                display: flex;
                h3{
                    color: #066330;
                    font-size: 1.4rem;
                    font-family: "Righteous";
                    // span{
                        //     margin-left: 0.1rem;
                        //     font-size: 0.5rem;
                        //     .star-svg{
                            //         width: 20px;
                            //         height: 20px;
                            //     }
                            // }
                }
                button{
                    background-color: transparent;
                    border: none;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                    margin-left: 1rem;
                    text-decoration: underline;
                    color: #ee1d23;
                    font-family: "Righteous";
                }
            }
            h4{
                color: #066330;
                font-family: "Righteous";
            }
            p{
                color: #FAAF18;
                font-family: "Righteous";
                line-height: 8px;
            }
            .burger{
                width: 35vw;
                height: 50vh;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                .linkBurger{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    background-color: #FAAF18;
                    border-radius: 5px;
                    width: 10vw;
                    height: 5vh;
                    border: 2px solid white;
                }
                .imgRestaurant{
                    width: 15vw;
                    
                }
                .imgBurger{
                    width: 30vw;
                    height: 38vh;
                    object-fit: cover;
                }
            }
            .description{
                background-color: rgba($color: #FBF3E4, $alpha: 0.8);
                border-radius: 10px;
                width: 35vw;
                height: 50vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
        }
        label{
            height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .textarea{
                width: 70vw;
            }
            .review-send{
                width: 70vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .style-module_tooltip__tKc3i{
                    background-color: #066330;
                    font-family: "Righteous";
                }
                button{
                    border: none;
                    background-color: #FAAF18;
                    color: #066330;
                    padding: 0.2rem 1rem;
                    border-radius: 3px;
                    font-family: "Righteous";
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                }
            }
        }
    }
}