#footer{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-footer{
        height: 16vh;
        margin-bottom: 1vh;
    }

    .developpement{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        p{
            color: #066330;
            line-height: 10px;
        }
    }
        
}
