*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../public/images/background_holyburger-1.avif);
    background-position: top;
    background-size: 100%;
    background-repeat: repeat-y;    
}

h1,h2,h3,h4,h5,p{
    background-color: transparent;
}
h2{
    font-size: 1.4rem;
}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    font-weight: bolder;
}